@model OrderDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "OrderSuccess";
}

<div class="container mt-5 text-center">
    <h2 class="text-success">✅ Your Order Has Been Placed Successfully!</h2>
    <p>Thank you for shopping with us.</p>
    <p>@Model.order.customer.customer_name</p>
    <p>@Model.quantity</p>
    <p>@Model.sub_total</p>

    <a class="btn btn-primary mt-3" href="@Url.Action("Index", "Customer")">Continue Shopping</a>
</div>